@import 'components/navbar';
@import 'components/blog';
@import 'components/button';

@font-face {
	font-family: Byekan;
	src: url("/fonts/BYekan.ttf") format("truetype"),
}

* {
	font-family:Byekan;
}