@import 'components/bulma-custom';
@import 'components/navbar';
@import 'components/footer';
@import 'components/blog';
@import 'components/shop';
@import 'components/button';

@font-face {
	font-family: Byekan;
	src: url("/fonts/BYekan.ttf") format("truetype"),
}

* {
	font-family:Byekan;
}

table > thead > tr > td, table > tbody > tr > td {
	text-align: right !important
}

.odd-color {
  background-color: #9efff1;	
}