$navbar-back-color: #166d86;
$navbar-link-after: #70dbd7;
$navbar-sublink-after: #b0b0b0;
$footer-back-color: #166d86;

@import 'components/bulma-custom';
@import 'components/navbar';
@import 'components/footer';
@import 'components/blog';
@import 'components/shop';
@import 'components/button';