.footer {
	background-color: #166d86;
	padding: 3rem 0rem 6rem;
	.creator-sign {
		position: relative;
		bottom: -128px;
		width:100%;
		background-color:#0003;
		padding-top:10px;
		padding-bottom:5px;
		color: #00edff;
	}
}
.footer a {
	color:white;
}

html, body, #__nuxt, #__layout, #__layout > div {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
}
.content-inside {
  padding-bottom: 263px;
}
.footer {
  height: 263px;
  margin-top: -287px;
}