.navbar-end {
	margin-right: auto;
	margin-left: unset;
}
.navbar-start {
	margin-left: auto;
	margin-right: unset;
}
.navbar-burger {
	margin-right: auto;
	margin-left: unset;
}
.navbar-brand {
	margin-left: 0rem !important;
}
.navbar-menu {
	margin-right: 0rem !important;
}
.navbar-dropdown a.navbar-item {
	padding-left: 3rem;
	padding-right: 1rem;
}
.navbar-dropdown {
	left: unset;
}
.unset-border {
	border-color: unset;
}

.navbar, .navbar-dropdown, #nav-togger {
	background-color: $navbar-back-color;
}
.navbar a {
	color: white;
}
.navbar-link::after {
	border-color: $navbar-link-after;
}
.navbar-dropdown > a:hover {
	color: $navbar-sublink-after;
}
.navbar-item a:hover {
	color: $navbar-sublink-after;
}
.navbar a:hover {
	color: $navbar-sublink-after;	
}
.navbar-item img {
	max-height: unset;
}